[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "packages/rainbow-mode"]
	path = packages/rainbow-mode
	url = git://git.naquadah.org/rainbow.git
